.button {
  display: block;
  padding: 10px 40px;
  margin: 0 auto;

  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $white;

  background-color: $blue;
  border-radius: 3px;

  &:hover,
  &:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  }

  &:focus,
  &:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  }

  &--disabled:hover,
  &--green:hover {
    box-shadow: none;
  }

  &--disabled:focus,
  &--green:focus {
    box-shadow: none;
  }

  &--disabled {
    background-color: $light-blue;
  }

  &--green {
    background-color: $green;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}
